<%- include('partials/head')%>
    <%- include('partials/navbar')%>

        <h1>Register</h1>

        <form action="/forms" method="post">

            <div>
                <label for="firstName">First Name:</label>
                <input id="firstName" name="firstName" type="text" required placeholder="John">

                <label for="lastName">Last Name:</label>
                <input id="lastName" name="lastName" type="text" required placeholder="Doe">
            </div>
            <br>
            <div>
                <label for="male">Male</label>
                <input id="male" type="radio" name="gender" value="male">

                <label for="female">Female</label>
                <input id="female" type="radio" name="gender" value="female">

                <label for="other">Other</label>
                <input id="other" type="radio" name="gender" value="other">
            </div>
            <br>
            <div>
                <label for="email">Email</label>
                <input name="email" id="email" type="email" placeholder="your email" required>

                <label for="password">Password:</label>
                <input name="password" type="password" id="password" placeholder="password" minlength="8" required>
            </div>
            <br>
            <div>
                <label>
                    Birthday:
                    <select name="day" required>
                        <option>Day</option>
                        <option>13</option>
                        <option>14</option>
                        <option>15</option>
                        <option>16</option>
                        <option>17</option>
                    </select>
                    <select name="month" required>
                        <option>Month</option>
                        <option>July</option>
                        <option>August</option>
                        <option>September</option>
                    </select>
                    <select name="year" required>
                        <option>Year</option>
                        <option>1998</option>
                        <option>1999</option>
                        <option>2000</option>
                    </select>
                </label>
            </div>
            <br>
            <div>
                <label for="terms">I agree to the terms and conditions</label>
                <input type="checkbox" name="terms" if="terms" value="agree">
            </div>
            <br>
            <input type="submit">

        </form>

        <%- include('partials/footer')%>