<%- include('partials/head')%>
    <%- include('partials/navbar')%>

        <h1>Language Guesser</h1>
        <form action="#" id="inputForm">
            <input type="text" placeholder="こんにちは" name="query">
            <button>Search</button>
        </form>
        <br>
        <p id="result"></p>
        <script src="/js/language-guesser.js"></script>

        <%- include('partials/footer')%>