<%- include('partials/head')%>
    <%- include('partials/navbar')%>
        <link rel="stylesheet" type="text/css" href="/css/patterns.css">


        <section id="header" class="jumbotron text-center">
            <h1 class="display-3">PATTERNS</h1>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <a class="btn btn-primary" href="#" role="button">Do Something</a>
            <a class="btn btn-success" href="#" role="button">Another Thing</a>
        </section>

        <section id="gallery">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 mb-4">
                        <div class="card">
                            <img src="images/pattern1.jpeg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk of the card's content.</p>
                                <a href="#" class="btn btn-outline btn-success btn-sm">Download</a>
                                <a href="#" class="btn btn-outline btn-danger btn-sm"><i class="fa fa-heart"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-4">
                        <div class="card">
                            <img src="images/pattern2.jpeg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk of the card's content.</p>
                                <a href="#" class="btn btn-outline btn-success btn-sm">Download</a>
                                <a href="#" class="btn btn-outline btn-danger btn-sm"><i class="fa fa-heart"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-4">
                        <div class="card">
                            <img src="images/pattern3.jpeg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk of the card's content.</p>
                                <a href="#" class="btn btn-outline btn-success btn-sm">Download</a>
                                <a href="#" class="btn btn-outline btn-danger btn-sm"><i class="fa fa-heart"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <%- include('partials/footer')%>