<%- include('partials/head')%>
    <%- include('partials/navbar')%>
        <link rel="stylesheet" type="text/css" href="/css/purrfectmatch.css">

        <div class="container">
            <div class="row">
                <div class="col col-lg-12">
                    <div id="content">
                        <h1>Purrfect Match</h1>
                        <h3>The Only Human-Feline Dating App</h3>
                        <hr>
                        <button type="button" class="btn btn-light btn-lg"><i class="fas fa-paw"></i> Get
                            Started!</button>
                    </div>
                </div>
            </div>
        </div>

        <%- include('partials/footer')%>