#mainNavbar.navbar {
    font-family: 'Alef', sans-serif;
}

.dropdown-menu {
    border-radius: 0px;
    background-color: #343a40;
    border: none;
    padding: 0 0;
}

.dropdown-item {
    color: rgba(255,255,255,.5)
}

.dropdown-item.active {
    background-color: #343a40;
}

body {
    margin-top: 70px;
}

main {
    min-height: 60vh;
}

#mainFooter.footer-distributed {
    clear: both;
    background-color: #292c2f;
    width: 100%;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    text-align: left;
    padding: 30px 50px;
    margin-top: 30px;
    display: block;
    color: white;
}

.footer-left a {
    color: white;
}

.footer-left a:hover {
    color: #0d6efd;;
}

.footer-right span {
    font-weight: bold;
    display: block;
}