@use "base";

.intro {
  display: grid;
  gap: 2em;
  justify-items: center;
  grid-template-areas:
    "name"
    "roles"
    "image"
    "body"
    "actions";
}

.section__title--intro {
  grid-area: name;
  margin-bottom: -0.5em;
}

.intro__roles {
  grid-area: roles;
  display: flex;
  justify-content: center;
  gap: 2em;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}

.intro__roles > * {
  text-align: center;
  font-weight: base.$fw-bold;
  text-transform: lowercase;
  font-size: base.$fs-small;
}

.intro__img {
  grid-area: image;
  box-shadow: base.$bs;
  border-radius: 50%;
  object-fit: cover;
  width: 300px;
  height: 300px;
}

.intro__body {
  grid-area: body;
}

.intro__actions {
  grid-area: actions;
}

@media (min-width: base.$bp-small) {
  .intro__body {
    max-width: 80%;
  }
}

@media (min-width: base.$bp-tablet) {
  .intro {
    gap: 1em;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "image name"
      "image roles"
      "image body"
      "image actions";
    justify-items: start;
  }
  .section__title--intro {
    margin-bottom: auto;
  }

  .intro__roles {
    flex-direction: column;
    align-items: start;
    justify-content: start;
    border-left: 5px solid;
    // border-style: solid;
    border-color: base.$clr-bright;
    // font-size: base.$fs-h2;
    width: max-content;
    gap: 0;
    padding-left: 1em;
  }

  .intro__roles > * {
    text-align: center;
    font-weight: base.$fw-bold;
    text-transform: lowercase;
    font-size: base.$fs-h2;
    color: base.$clr-bright;
  }
}

@media (min-width: base.$bp-laptop) {
  .intro {
    grid-template-columns: 0.7fr 1fr;
  }
}
