@use "base";
/* My interests section */

.my-interests {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: base.$clr-dark;
  color: base.$clr-light;
  text-align: center;
}

.interests {
  display: grid;
  gap: 2em;
  grid-template-areas:
    "cooking"
    "art"
    "travel"
    "reading"
    "running";
}

@media (min-width: base.$bp-tablet) {
  .interests {
    grid-template-areas:
      "cooking cooking"
      "art travel"
      "reading running";
  }
}

.interest {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2em;
  background-size: cover;
}

.interest--cooking {
  grid-area: cooking;
  background-image: url("../images/interest-cooking.jpg");
}

.interest--art {
  grid-area: art;
  background-image: url("../images/interest-art.jpg");
}

.interest--travel {
  grid-area: travel;
  background-image: url("../images/interest-travel.jpg");
}

.interest--reading {
  grid-area: reading;
  background-image: url("../images/interest-reading.jpg");
}

.interest--running {
  grid-area: running;
  background-image: url("../images/interest-running.jpg");
}
