@use "base";

.my-projects {
  background: base.$clr-dark;
  color: base.$clr-light;
  text-align: center;
}

.projects {
  display: grid;
  margin-bottom: 3em;
  gap: 3em;
}

.section__subtitle--projects {
  margin-bottom: 2em;
}

.project {
  display: grid;
  grid-template-areas:
    "title"
    "icon"
    "description"
    "lessons"
    "tech"
    "actions";
  text-align: center;
}

.project__title {
  grid-area: title;
  // margin: 0 auto 1em;
  margin-top: 0;
  margin-bottom: 1em;
  font-size: base.$fs-h3;
  // text-align: center;
}

.project__icon {
  grid-area: icon;
  font-size: base.$fs-h1;
  // text-align: center;
}

.project__description {
  grid-area: description;
  text-align: left;
  margin-bottom: 0;
}

.project__description a,
.project__description a:visited {
  color: inherit;
}

.project__lessons {
  grid-area: lessons;
  text-align: left;
  :first-child {
    text-align: center;
  }
  :nth-child(2) {
    margin-bottom: 0;
  }
}

.project__tech {
  grid-area: tech;
}

.tech-stack {
  display: flex;
  justify-content: center;
  gap: 1em;
  list-style: none;
  padding: 0;
  padding-bottom: 16px;
  margin: 0;
  font-size: base.$fs-h2;
  // text-align: center;
}

.project__links {
  grid-area: actions;
  justify-content: center;
  gap: 1em;
}

.project__link .btn {
  padding-left: 1em;
  padding-right: 1em;
}

@media (min-width: base.$bp-tablet) {
  .projects {
    column-gap: 2em;
  }

  .project {
    flex-wrap: wrap;
    column-gap: 2em;
    grid-template-columns: 0.5fr 1fr;
    grid-template-areas:
      "blank title"
      "actions icon"
      "actions description"
      "actions lessons"
      "actions tech";
  }

  .project__links {
    align-self: start;
    order: -1;
    flex-direction: column;
  }

  .project__link > * {
    width: 100%;
  }
}

@media (min-width: base.$bp-laptop) {
  .project {
    grid-template-columns: 0.4fr 1fr;
  }
}

@media (min-width: base.$bp-desktop) {
  .project {
    grid-template-columns: 0.3fr 1fr;
  }
}
