@use "base";

.my-projects {
  background: base.$clr-dark;
  color: base.$clr-light;
  text-align: center;
}

.projects {
  display: grid;
  margin-bottom: 4em;
  gap: 3em;
}

.project {
  display: grid;
  grid-template-areas:
    "title"
    "icon"
    "description"
    "lessons"
    "tech"
    "actions";
}

.project__title {
  grid-area: title;
  margin: 0 auto 1em;
  font-size: base.$fs-h3;
}

.project__icon {
  grid-area: icon;
  font-size: base.$fs-h1;
}

.project__description {
  grid-area: description;
}

.project__lessons {
  grid-area: lessons;
}

.project__tech {
  grid-area: tech;
}

.tech-stack {
  display: flex;
  justify-content: center;
  gap: 1em;
  list-style: none;
  padding: 0;
  padding-bottom: 16px;
  margin: 0;
  font-size: base.$fs-h2;
}

.project__links {
  grid-area: actions;
  justify-content: center;
  gap: 1em;
}

@media (min-width: base.$bp-tablet) {
  .projects {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    column-gap: 2em;
  }

  .project {
    flex-wrap: wrap;
    column-gap: 2em;
    grid-template-columns: 0.5fr 1fr;
    grid-template-areas:
      "blank title"
      "actions icon"
      "actions description"
      "actions lessons"
      "actions tech";
  }

  .project__links {
    align-self: start;
    order: -1;
    flex-direction: column;
  }

  .project__link > * {
    width: 100%;
  }
}

@media (min-width: base.$bp-laptop) {
  .projects {
    max-width: 80%;
  }

  .project {
    grid-template-columns: 0.4fr 1fr;
  }
}

@media (min-width: base.$bp-desktop) {
  .projects {
    max-width: 70%;
  }

  .project {
    grid-template-columns: 0.3fr 1fr;
  }
}
