@use "base";

.section__title {
  font-size: base.$fs-h1;
  font-weight: base.$fw-black;
  color: base.$clr-accent;
}

.section__subtitle {
  font-family: base.$ff-secondary;
  font-size: base.$fs-h3;
  font-weight: base.$fw-bold;
}

.section__title--projects,
.section__title--blogs,
.section__title--interests {
  position: relative;
  &::after {
    content: "";
    display: block;
    width: 2em;
    height: 1px;
    margin: 0.5em auto 0em;
    background: base.$clr-accent;
    opacity: 0.25;
  }
}

.intro,
.projects,
.blogs,
.interests,
.about-me {
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: base.$bp-tablet) {
  .intro,
  .projects,
  .blogs,
  .interests,
  .about-me {
    max-width: 90%;
  }
}

@media (min-width: base.$bp-laptop) {
  .intro,
  .projects,
  .blogs,
  .interests,
  .about-me {
    max-width: 80%;
  }
}

@media (min-width: base.$bp-desktop) {
  .intro,
  .interests,
  .about-me {
    max-width: 70%;
  }

  .projects,
  .blogs {
    max-width: 50%;
  }
}
