@use "base";

.section__title {
  font-size: base.$fs-h1;
  font-weight: base.$fw-black;
  color: base.$clr-accent;
}

.section__subtitle {
  font-family: base.$ff-secondary;
  font-size: base.$fs-h3;
  font-weight: base.$fw-bold;
}
