<%- include('partials/head')%>
    <%- include('partials/navbar')%>
        <link rel="stylesheet" type="text/css" href="/css/blog.css">

        <div class="post">
            <div class="date">May 14 2020</div>
            <h2>First Article</h2>

            <p class="quote">Does your lorem ipsum text long for something a little meatier? Give our generator a try…
                it’s tasty!</p>

            <p>Bacon ipsum dolor amet bacon pork belly hamburger kevin, alcatra ham hock salami sirloin drumstick tail
                capicola jowl corned beef chuck. Pancetta turducken cupim, rump drumstick brisket corned beef burgdoggen
                meatball bacon. Tri-tip kielbasa tongue meatball pork, ham hock filet mignon bresaola salami pig biltong
                flank ball tip ribeye. Shankle hamburger boudin pork loin capicola venison short loin porchetta. Sausage
                fatback pork belly, drumstick bacon kevin beef pig ham short ribs. Chicken pig shank chislic brisket
                shankle. Ham spare ribs turducken hamburger, rump jerky corned beef pork chop sausage ball tip salami
                cow porchetta pork belly leberkas.</p>
            <hr>
        </div>

        <div class="post">
            <div class="date">May 13 2020</div>
            <h2>Second Article</h2>

            <p class="quote">Does your lorem ipsum text long for something a little meatier? Give our generator a try…
                it’s tasty!</p>

            <p>Ham turducken shoulder strip steak buffalo kielbasa, flank leberkas pork chop alcatra. Shank kielbasa
                sausage corned beef pork belly. Landjaeger short ribs shankle, shank rump tri-tip pork loin pork chop
                beef tongue meatloaf pork belly. Frankfurter leberkas sausage cow biltong chicken, chislic venison
                tri-tip. Tri-tip flank corned beef landjaeger. Cow salami pork chop meatball t-bone swine andouille
                frankfurter pork belly shankle ham hock pork loin short loin shank tail.</p>
        </div>

        <%- include('partials/footer')%>