<%- include('partials/head')%>
  <%- include('partials/navbar')%>

    <link rel="stylesheet" type="text/css" href="/css/candymuseum.css">

    <section class="container-fluid px-0">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div id="headingGroup" class="text-white text-center d-none d-lg-block mt-5">
            <h1>MUSEUM<span>/</span>OF<span>/</span>CANDY</h1>
            <h1>MUSEUM<span>/</span>OF<span>/</span>CANDY</h1>
            <h1>MUSEUM<span>/</span>OF<span>/</span>CANDY</h1>
            <h1>MUSEUM<span>/</span>OF<span>/</span>CANDY</h1>
            <h1>MUSEUM<span>/</span>OF<span>/</span>CANDY</h1>
            <h1>MUSEUM<span>/</span>OF<span>/</span>CANDY</h1>
            <h1>MUSEUM<span>/</span>OF<span>/</span>CANDY</h1>
          </div>
        </div>
        <div class="col-lg-6">
          <img class="img-fluid" src="images/hand_pink.png" alt="">
        </div>
      </div>
    </section>

    <section class="container-fluid px-0">
      <div class="row align-items-center content">
        <div class="col-md-6 order-2 order-md-1">
          <img class="img-fluid" src="images/milk.png" alt="">
        </div>
        <div class="col-md-6 order-1 order-md-2 text-center">
          <div class="row justify-content-center">
            <div class="col-10 col-lg-8 blurb mb-5 mb-md-0">
              <h2>MUSEUM OF CANDY</h2>
              <img src="images/lolli_icon.png" alt="" class="d-none d-lg-inline">
              <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur lacinia dapibus turpis
                sit amet convallis. Vivamus rutrum lectus purus, ut tristique tellus tristique nec. Cras quis eros
                justo. Quisque at sem ac enim rutrum ultricies. Donec eget posuere eros. Mauris fringilla enim non metus
                tincidunt pharetra. Maecenas a pharetra purus, hendrerit ornare mi.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="row align-items-center content">
        <div class="col-md-6 text-center">
          <div class="row justify-content-center">
            <div class="col-10 col-lg-8 blurb mb-5 mb-md-0">
              <h2>MUSEUM OF CANDY</h2>
              <img src="images/lolli_icon.png" alt="" class="d-none d-lg-inline">
              <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur lacinia dapibus turpis
                sit amet convallis. Vivamus rutrum lectus purus, ut tristique tellus tristique nec. Cras quis eros
                justo. Quisque at sem ac enim rutrum ultricies. Donec eget posuere eros. Mauris fringilla enim non metus
                tincidunt pharetra. Maecenas a pharetra purus, hendrerit ornare mi.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <img class="img-fluid" src="images/gumball.png" alt="">
        </div>
      </div>

      <div class="row align-items-center content">
        <div class="col-md-6 order-2 order-md-1">
          <img class="img-fluid" src="images/sprinkles.png" alt="">
        </div>
        <div class="col-md-6 order-1 order-md-2 text-center">
          <div class="row justify-content-center">
            <div class="col-10 col-lg-8 blurb mb-5 mb-md-0">
              <h2>MUSEUM OF CANDY</h2>
              <img src="images/lolli_icon.png" alt="" class="d-none d-lg-inline">
              <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur lacinia dapibus turpis
                sit amet convallis. Vivamus rutrum lectus purus, ut tristique tellus tristique nec. Cras quis eros
                justo. Quisque at sem ac enim rutrum ultricies. Donec eget posuere eros. Mauris fringilla enim non metus
                tincidunt pharetra. Maecenas a pharetra purus, hendrerit ornare mi.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>

    <script type="text/javascript">
      $(function () {
        var $nav = $("#mainNavbar");
        $nav.toggleClass("bg-dark", false);
        $nav.toggleClass("py-0", true);
        $(document).scroll(function () {
          $nav.toggleClass("scrolled", $(this).scrollTop() > $nav.height());
        });
      });
    </script>
    </body>

    </html>