<%- include('partials/head')%>
    <%- include('partials/navbar')%>
        <link rel="stylesheet" type="text/css" href="/css/cats.css">

        <h1>All About Cats</h1>

        <img src="images/baby-cat.jpeg" alt="My test image">

        <p>Cat's can be found in</p>

        <ul>
            <li>the wild</li>
            <li>gardens</li>
            <li>indoors</li>
        </ul>

        <p>and they are sooooo cute! You can find images of them on <a href="https://google.com">Google</a> which is a
            search engine.</p>

        <button id="changeClick">Change user</button>

        <!-- Include the JavaScript script. N.B. this is placed near the end of the body so that the JavaScript loads last, after all the HTML has loaded -->
        <script src="/js/cats.js"></script>

        <%- include('partials/footer')%>