<%- include('partials/head')%>
    <%- include('partials/navbar')%>

        <link rel="stylesheet" type="text/css" href="/css/gallery.css">

        <div class="container">
            <!-- Jumbotron -->
            <div class="jumbotron">
                <h1><i class="fa fa-camera-retro"></i> The Image Gallery</h1>
                <p>A gallery of beautiful images!</p>
            </div>

            <!-- Image Tiles -->
            <!-- Learned to use grid system from Bootstrap. A grid divides the page into 12 columns. -->
            <div class="row">
                <div class="col-lg-4 col-sm-6">
                    <img class="img-thumbnail"
                        src="https://images.unsplash.com/photo-1558016886-68507e3f3d5a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1369&q=80">
                </div>

                <div class="col-lg-4 col-sm-6">
                    <img class="img-thumbnail"
                        src="https://images.unsplash.com/photo-1558016886-68507e3f3d5a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1369&q=80">
                </div>

                <div class="col-lg-4 col-sm-6">
                    <img class="img-thumbnail"
                        src="https://images.unsplash.com/photo-1558016886-68507e3f3d5a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1369&q=80">
                </div>

                <div class="col-lg-4 col-sm-6">
                    <img class="img-thumbnail"
                        src="https://images.unsplash.com/photo-1558016886-68507e3f3d5a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1369&q=80">
                </div>

                <div class="col-lg-4 col-sm-6">
                    <img class="img-thumbnail"
                        src="https://images.unsplash.com/photo-1558016886-68507e3f3d5a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1369&q=80">
                </div>

                <div class="col-lg-4 col-sm-6">
                    <img class="img-thumbnail"
                        src="https://images.unsplash.com/photo-1558016886-68507e3f3d5a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1369&q=80">
                </div>

                <div class="col-lg-4 col-sm-6">
                    <img class="img-thumbnail"
                        src="https://images.unsplash.com/photo-1558016886-68507e3f3d5a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1369&q=80">
                </div>

                <div class="col-lg-4 col-sm-6">
                    <img class="img-thumbnail"
                        src="https://images.unsplash.com/photo-1558016886-68507e3f3d5a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1369&q=80">
                </div>

                <div class="col-lg-4 col-sm-6">
                    <img class="img-thumbnail"
                        src="https://images.unsplash.com/photo-1558016886-68507e3f3d5a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1369&q=80">
                </div>

            </div>
        </div>

        <%- include('partials/footer')%>