<%- include('partials/head')%>
    <%- include('partials/navbar')%>

        <h1>Jokester</h1>
        <form action="#" id="inputForm">
            <button>Get Dad Joke</button>
        </form>
        <br>
        <p id="result"></p>
        <script src="/js/jokester.js"></script>

        <%- include('partials/footer')%>