<%- include('partials/head')%>
    <%- include('partials/navbar')%>
        <h1>Welcome!</h1>
        <button id="color-change">Click Me</button>

        <script src="/js/random-color.js"></script>
        <%- include('partials/footer')%>