<%- include('partials/head')%>
    <%- include('partials/navbar')%>
        <link rel="stylesheet" type="text/css" href="/css/rusty.css">

        <h1>Rusty Steele</h1>
        <p>Hi, I'm a dog. Woof!</p>
        <img src="images/rustySteele.jpg" alt="Adorable picture of Rusty the dog">
        <h2>Some of my favorite places:</h2>
        <ul>
            <li>The beach</li>
            <li>The dog park</li>
            <li>The fire hydrant</li>
        </ul>

        <p>Make sure to follow me on <a href="">Instagram</a></p>

        <%- include('partials/footer')%>