<%- include('partials/head')%>
    <%- include('partials/navbar')%>

        <h1>TV Show Search</h1>
        <form action="#" id="searchForm">
            <input type="text" placeholder="TV Show Title" name="query">
            <button>Search</button>
        </form>
        <br>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="/js/tv-search.js"></script>
        <%- include('partials/footer')%>