.post {
    list-style-type: none;
}

.square {
    width: 30rm;
}

.comment-img {
    max-width: 270px;
}

.img-container {
    display: flex;
    align-items: center;
}

.insta-head {
    display: flex;
    justify-content: space-between;
}

.insta-head a {
    color: black;
}